*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fullPage{
    background-image:url(images/fitnessBackcgroundİmage.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    width:100%;
    height:100vh;

    display:flex;
    align-items:center;
}

#tittleHero{
    color: white;
     font-size:72px;
    font-weight:800;
    line-height:1;
}
#heroSpan{
    color: rgb(196, 253, 63);
      font-size:72px;
    font-weight:800;
    line-height:1;
}

.containerHero{
    max-width:768px;
    margin-left:80px;
    width: 100;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:24px;
}

#HeroParagraph{
    color:#ffffff;
    font-size:18px;
    line-height:30px;
}

#yourTransformation{
    background-color:rgb(196, 253, 63) ;
    width: 324px;
    height: 50px;
    font-size: 14px;
    font-style: 'regular';
}

#viewPlans{
     width:170px;
    height: 50px;
    font-size: 14px;
    background:transparent;
    color:white;
    border:2px solid white;
    font-style: 'regular';
}

.wrappingButton{
    display: flex;
    gap: 24px;
}